.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container {
    height: 100px;
    width: 150px;
}

.displayed-image {
    object-fit: cover;
}

.camera-button {
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 5;
}

.openCamera {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.webcam-active {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Analyze {
    justify-content: center;
}