body {
    margin: 0;
    padding: 0;
}

.lesson-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 192, 120);
    width: 100vw;
    height: 200vh;
}

.prep-ingre-tools {
    margin: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.prep-ingredients {
    margin: 10px;
    margin-top: 0;
}

.prep-tools {
    margin: 10px;
    margin-top: 0;
}

.prep-container {
    height: 100vh;
    width: 100vw;
}

.preparation-header {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 60px;
    align-items: center;
    background-color: rgb(250, 154, 45);
    border-radius: 10px;
    border-bottom: 4px solid black;
}

.prep-back-button {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    align-self: center;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.prep-points {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(187, 100, 0);
    justify-content: center;
    right: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.prep-points p {
    margin-left: 15px;
    font-weight: 300;;
    color: white;
}

.prep-camera-component {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-height: 300px;
}

.prep-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.prep-instructions p {
    display: flex;
    align-content: center;
    justify-content: center;
}

.prep-results {
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.aa {
    font-size: 20px;
}
.prep-footer {
    display: flex;
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: rgb(250, 154, 45);
    bottom: 0;
    align-items: right;
    justify-content: right;
    border-top: 4px solid black;
}

