body {
    margin: 0;
    padding: 0;
}

.lesson-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 192, 120);
    width: 100vw;
    height: 200vh;
}

.prep-ingre-tools {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.prep-ingredients {
    margin: 10px;
    margin-top: 0;
}

.prep-tools {
    margin: 10px;
    margin-top: 0;
}

.prep-container {
    height: 100vh;
    width: 100vw;
}

.preparation-header {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: rgb(250, 154, 45);
}

.prep-back-button {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    align-self: center;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.prep-camera-component {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.prep-footer {
    display: flex;
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: rgb(250, 154, 45);
    bottom: 0;
    align-items: right;
    justify-content: right;
}

