header {
  background-color: rgb(250 154 45) !important;
  height: 60px;
  display: flex;
  align-items: center;
}

#container {
  background-color: rgb(255 192 120);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#square-container {
  background-color: rgba(0, 0, 0, .1) !important;
  border-radius: 20px;
  width: 80%;
  margin-top: 50px;
  
}

#btn1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
}

#msg {
  text-align: center;
  padding-top: 20px;
}

.loginspan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginspan p {
  margin: 10px 10px 0 0;
}
