#tomato {
  position: fixed;
  width: 700px;
  top: 130px;
  left: 20px;
  z-index: -2;
}

#lettuce {
  position: fixed;
  width: 500px;
  top: 250px;
  left: -250px;
  z-index: -1;
}

header {
  background-color: rgb(250 154 45) !important;
  height: 60px;
  display: flex;
  align-items: center;
}

.back {
  position: fixed;
  background-color: rgb(255 192 120);
  width: 100vw;

  height: 100vh;
  z-index: -2;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#square-container {
  background-color: rgba(0, 0, 0, .2) !important;
  border-radius: 20px;
  width: 80%;
  margin-top: 50px;
  
}

#square-container p {
  text-align: center;
  color: white;
}

#btn1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
}

#msg {
  text-align: center;
  padding-top: 20px;
}

.loginspan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginspan p {
  margin: 10px 10px 0 0;
}
