.signup-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
  }
  
  .signup-card {
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .MDBInput {
    width: 100%;
  }
  
  .MDBInput label {
    color: white !important;
  }
  
  .MDBInput input {
    color: white !important;
    background-color: transparent !important;
    border-color: #ccc !important;
  }
  
  .signup-button {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .signup-card {
      width: 90%;
    }
  
    .signup-container {
      padding: 20px;
    }
  
    .input-wrapper {
      padding: 0 10px;
    }
  
    .signup-button {
      width: 90%;
    }
  }  