#big-container {
  background-color: rgb(255 192 120);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

#big-container span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#big-container span p {
  margin: 10px 10px 0 0;
}

#square-box {
  background-color: rgba(0, 0, 0, .1) !important;
  border-radius: 20px;
  width: 80%;
  margin-top: 50px;
}

#big-container button {
  margin: 20px 0;
}
