.top-section img {
    width: 250px;
    border-radius: 20px;
    align-items: center;
    border: 3px solid Black;
}

.header {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 192, 120);
    height: 100vh;
}

.top-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.nutritional-facts {
    margin: 10px;
    font: sans-serif bold;
}

.start-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.next-button {
    position: relative;
    width: 100px;
    height: 60px; 
    background-color: rgb(187, 100, 0) ;
    border: none;
    color: white;
    font-size: x-large;
    border-radius: 10px;

}

.next-button:hover {
    transform: scale(120%);
}

.bottom-section {
    margin: 10px;
}